/* styles.css */
/* Base styles */
/* body {
    font-family: Arial, sans-serif;
} */

/* Media queries for responsive design */
@media only screen and (max-width: 500px) {
    /* Styles for screens up to 600px wide */
    body {
        box-sizing: border-box;
        font-size: 14px;
    }

    nav {
        position: relative;
        height: 100px;
    }

    .navbar-brand {
        position: absolute;
        top: 14%;
        right: 140px;
        width: 100px;
    }
    
    nav img {
        width: 80px;
        height: auto;
    }

    .login {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 14px;
    }

    .logout {
        position: absolute;
        top: 15px;
        right: 16px;
    }

    .register {
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-size: 14px;
    }

    .bg_img {
        padding-bottom: 10px;
    }
}

/* @media only screen and (min-width: 601px) and (max-width: 900px) { */
    /* Styles for screens between 601px and 900px wide */
    /* body {
        font-size: 16px;
    }
} */

/* @media only screen and (min-width: 901px) { */
    /* Styles for screens wider than 900px */
    /* body {
        font-size: 18px;
    } */
/* } */